body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #333;
  }
  
  form {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #1aaf15;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF5;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #password-reset-message {
    font-size: 16px;
    margin-bottom: 20px;
  }