form {
    display: block;
    width: 300px;
    margin: 50px auto;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4ca3af;
    color: rgb(229, 255, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }

  h1{
    text-align: center;
    stroke-width: 50%;
    color: rgb(116, 12, 90);
  }