<!DOCTYPE html>
<html>
<head>
  <title>Forget Password</title>
  <link rel="stylesheet" type="/css/forgetpassword.css" href="style.css">
  <script src="/js/login.js"></script>
</head>
<body>
  <h1>Forget Password</h1>
  <p>Enter your email address to reset your password:</p>
  <form>
    <label for="email">Email Address:</label>
    <input type="email" id="email" name="email"><br><br>
    <button type="submit">Reset Password</button>
  </form>
  <p id="password-reset-message"></p>
</body>
</html>