@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>View our <a asp-controller="Incidents" asp-action="Index">Incident Reports</a></p>
</div>