<link rel="stylesheet" href="/css/login.css">

 <h1 id="loginscreen">Login Page</h1>

<form action="Login" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">

    <label for="password">Password</label>
    <input type="text" id="password" name="password"><br><br>
    
    <button type="subment" id="forget-password-link"> Forget Password</button> 
    <button type="subment"> Sign Up?</button> <br> <br>
    
    <input type="submit" value="Login"> <br> <br>
    
    
</form>

<script src="/js/login.js"></script>