<link rel="stylesheet" href="/css/login.css">

<h1 id="loginscreen">Database Log-In</h1>

<form asp-controller="Account" asp-action="Login" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>
    
    <!-- ✅ Make Forget Password a link instead of a button -->
    <p><a asp-controller="Home" asp-action="Forget">Forget Password?</a></p>

    <p>Don't have an account? <a asp-controller="Account" asp-action="Register">Sign up here</a></p>
    
    <!-- ✅ Ensure only one submit button -->
    <input type="submit" value="Login"> <br><br>
</form>

<!-- <script src="/js/login.js"></script> -->
