@model HalfAndHalf.Models.User

<link rel="stylesheet" href="/css/login.css">

<h1>Sign Up</h1>
<form asp-action="Register" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username" required />
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" required />
    </div>
    <br><p>Already have an account? <a asp-controller="Account" asp-action="Login">Log in here</a></p>

    <br> <input type="submit" value="Register">
</form>

