@model HalfAndHalf.Models.User

<link rel="stylesheet" href="/css/login.css">

<h1>Sign Up</h1>
<form asp-action="Register" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ProfilePhoto"></label>
        <input asp-for="ProfilePhoto" type="file" class="form-control" />
        <span asp-validation-for="ProfilePhoto" class="text-danger"></span>
    </div>
    <br><p>Already have an account? <a asp-controller="Home" asp-action="loginscreen">Log in here</a></p>

    <br> <input type="submit" value="Register">
</form>

